<% provide(:title, "Signin") %>
<h1>Signin</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(url: signin_path, scope: :session, local: true) do |f| %>
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
      <%= f.submit "Signin", class: "btn btn-primary" %>
    <% end %>
    <p>New user? &#x261E; <%= link_to "Sign in", signup_path %></p>
  </div>
</div>